* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    transition: .4s;
}

#header {
    backdrop-filter: blur(8px);
    padding: 23px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    -webkit-box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.2);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo h1 {
    font-weight: 700;
    font-size: 30px;
    color: #173A56;
    padding-left: 16px;
}

.header-nav a {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    padding: 0 10px;
    transition: .4s;
}

.header-nav a:hover {
    color: #02897A;
    text-decoration-line: underline;
}

.header-btn-one {
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
    border: 2px solid #BCD0E5;
    background: transparent;
    padding: 12px 25px;
    border-radius: 4px;
}

.header-btn-one:hover {
    background: #02897A;
    color: white;
    border: 2px solid #02897A;
}

.header-btn-two {
    font-weight: 600;
    font-size: 16px;
    background: #02897A;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 12px 25px;
    border: 2px solid #02897A;
    margin: 0 24px;
}

.header-btn-two:hover {
    background: transparent;
    color: #173A56;
    border: 2px solid #BCD0E5;
}

.header-btn-three ion-icon {
    color: #02897A;
    font-size: 25px;
    rotate: 180deg;
}

.header-btn-three {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.header-nav {
    display: flex;
    align-items: center;
}

#work {
    padding: 80px 0;
}

.work {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-text h1 {
    width: 400px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #22343D;
}

.work-text p {
    width: 458px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #22343D;
    padding: 18px 0 45px 0;
}

.work-btn button {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 4px;
    padding: 13px 27px;
    border: 2px solid #02897A;
    margin-right: 30px;
}

.work-btn button:hover {
    background: transparent;
    color: #173A56;
    border: 2px solid #BCD0E5;
}

.work-btn a {
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #02897A;
    display: flex;
    align-items: center;
}

.work-btn a ion-icon {
    font-size: 20px;
    padding-right: 8px;
}

.work-btn {
    display: flex;
    align-items: center;
}

#product {
    background: url("../img/Bg.png") no-repeat bottom/cover;
    min-height: 80vh;
}

.product h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
}

.product-block h3 {
    font-weight: 600;
    font-size: 22px;
    color: #22343D;
    padding: 30px 0 13px 0;
}

.product-block p {
    width: 240px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.product-block div {
    width: 50px;
    height: 50px;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-one {
    background: #02897A;
}

.product-two {
    background: #4D8DFF;
}

.product-three {
    background: #740A76;
}

.product-four {
    background: #F03E3D;
}

.product-general {
    display: flex;
    justify-content: space-between;
    padding: 66px 0 60px 0;
}

.product-btn button {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    padding: 13px 28px;
    background: #02897A;
    border-radius: 4px;
}

.product-btn {
    display: flex;
    justify-content: center;
}


#management {
    padding: 100px 0;
}

.management {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.management-text h3 {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}

.management-text h1 {
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
    padding: 8px 0 23px 0;
}

.management-text p {
    width: 486px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.management-text h4 {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    padding: 30px 0 12px 0;
}


#support {
    padding: 100px 0;
}

.support-text h3 {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}

.support-text h1 {
    padding: 8px 0 23px 0;
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
}

.support-text h6 {
    width: 486px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    padding-bottom: 15px;
}

.support-text-blocks p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    width: 365px;
    padding-left: 30px;
}

.support-text-blocks div {
    width: 35px;
    height: 35px;
    border-radius: 14px;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.support-icon-one {
    background: #FF9900;
}

.support-text-blocks {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.support-icon-two {
    background: #F03E3D;
}

.support-icon-three {
    background: #4D8DFF;
}

.support {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#for {
    padding: 80px 0;
}

.for-text h3 {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}

.for-text h1 {
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
    padding: 8px 0 23px 0;
}

.for-text p {
    width: 486px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.for-text h4 {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    padding: 12px 0 30px 0;
}

.for {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#can {
    background: url("../img/Bg (1).png") no-repeat top/cover;
    min-height: 60vh;
    padding: 40px 0 80px 0;
}

.can h1 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343D;
}

.can p {
    width: 542px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343D;
    margin: 16px auto 32px auto;
}

.can-block {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.can-general {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.can-block-text {
    height: 53px;
    width: 274px;
    font-weight: 500;
    font-size: 16px;
    color: #2F281E;
    background: #FFFFFF;
    box-shadow: 0 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
}

.can-btn button {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 4px;
    padding: 15px 27px;
}

.can-btn {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.can-size {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: white;
    position: absolute;
}

.can-blocks {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    bottom: 30px;
    left: 145px;
}

.two {
    bottom: 30px;
    right: 170px;
}

.three {
    bottom: 30px;
    right: 170px;
}

.four {
    bottom: 30px;
    left: 145px;
}

#slider {
    padding: 80px 0;
}


.slider h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
}

.slider p {
    padding: 8px 0 33px 0;
    font-weight: 500;
    font-size: 16px;
    color: #22343D;
}

/*slider*/

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.swiper-slide h5 {
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    padding: 24px 0 12px 24px;
}

.swiper-slide h5 span {
    font-weight: 700;
}

.swiper-slide h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
    padding-left: 24px;
}

.swiper-slide {
    height: 359px;
    width: 348px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #c2c2c2;
    transition: .4s;
}

.swiper-slide:hover > .slider-text {
    color: #02897A;
}

.swiper-pagination-bullet {
    background: #02897A;
    width: 50px;
    height: 50px;
    color: #02897A;
    font-size: 30px;
}

/*slider*/


#table {
    padding: 80px 0;
}

.table h1 {
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
    text-align: center;
}

.table p {
    font-weight: 500;
    font-size: 16px;
    color: #22343D;
    text-align: center;
    padding: 8px 0 50px 0;
}

.table-block {
    width: 323px;
    height: 456px;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: .5s;
}

.table-block:hover {
    background: #02897A;
}

.table-block:hover > .text-one,
.table-block:hover > .text-two,
.table-block:hover > .table-block-text h3,
.table-block:hover > .table-block-text div h5,
.table-block:hover > .table-block-text div span,
.table-block:hover > .text-three {
    color: #ffffff;
}

.table-block:hover > .table-block-btn {
    background: #ffffff;
    color: #02897A;
}

.table-block h2 {
    font-weight: 700;
    font-size: 24px;
    color: #22343D;
}

.table-block h4 {
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
}

.table-block-text h3 {
    font-weight: 700;
    font-size: 76px;
    text-align: center;
    color: #02897A;
    padding-right: 8px;
}

.table-block-text-one {
    font-weight: 700;
    font-size: 24px;
    color: #02897A;
}

.table-block-text-two {
    font-weight: 400;
    font-size: 16px;
    color: #AFAFAF;
}

.table-block-text {
    display: flex;
    align-items: center;
}

.table-block h6 {
    font-weight: 500;
    font-size: 16px;
    color: #22343D;
}

.table-block-btn {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding: 11px 25px;
    background: #02897A;
    border-radius: 8px;
}

.table-general {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#what {
    padding: 80px 0;
}

.what h1 {
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
    text-align: center;
}

.what p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #22343D;
    padding: 8px 0 50px 0;
}

.what-block {
    width: 301px;
    height: 236px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 26px;
}

.stars ion-icon {
    color: #F3CD03;
    font-size: 20px;
}


.what-block h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #737373;
    width: 275px;
}

.what-block-user div h3 {
    font-weight: 600;
    font-size: 16px;
    color: #02897A;
}

.what-block-user div h4 {
    font-weight: 500;
    font-size: 14px;
    color: #252B42;
}

.what-block-user {
    display: flex;
    align-items: center;
}

.what-block-user div {
    padding-left: 14px;
}

.what-general {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#join {
    padding: 80px 0;
}

.join-block {
    width: 85%;
    height: 345px;
    background: #02897A;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.join-block-text h1 {
    width: 500px;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
    padding-bottom: 75px;
}

.join-block-text button {
    font-weight: 600;
    font-size: 20px;
    color: #02897A;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 12px 30px;
}

.join {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    padding: 46px 0;
}

.footer-general {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer-icons {
    display: flex;
    align-items: center;
    padding-top: 28px;
}

.footer-icons div {
    width: 40px;
    height: 40px;
    background: #EDFFFC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.footer-icons div a {
    color: #02897A;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    display: flex;
    flex-direction: column;
}

.footer-text h3 {
    font-weight: 500;
    font-size: 20px;
    color: #22343D;
}

.footer-text a {
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    padding: 8px 0;
}

.footer-input h2 {
    width: 280px;
    font-weight: 500;
    font-size: 20px;
    color: #22343D;
}

.footer-input input {
    margin: 34px 0 21px 0;
    padding: 0 10px;
    height: 48px;
    width: 305px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.footer-input button{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 4px;
    padding: 15px 25px;
}

.footer-input {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer h1{
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    text-align: center;
}